.contentContainer {
    display: grid;
    grid-template-columns: 20% 80%;
    min-height: 90vh;
}

.contentMargin {
    margin: 0 50px;
}

.stickyContainer {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: var(--zIndexHeader);
}


@media screen and (max-width: 767px) {
    .sideBar {
        display: none
    }
  }
