.contentContainer {
    background-color: var(--paper);
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: 200px auto;
    min-height: 90vh;
}

.contentMargin {
    padding: 0 50px;
}

.stickyContainer {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: var(--zIndexHeader);
}


@media screen and (max-width: 767px) {
    .sideBar {
        display: none
    }
  }
